name: Notify on playlist update

on:
  push:
    paths:
      - "playlists.json"

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install firebase-admin
        run: npm install firebase-admin

      - name: Run notify.js
        env:
          FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
        run: node notify.js

      - name: Update old playlist file
        run: cp playlists.json old_playlists.json
