name: Notify when new music added

on:
  push:
    paths:
      - "playlists.json"

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Prepare old playlist
        run: |
          if [ ! -f old_playlists.json ]; then
            echo "[]" > old_playlists.json
          fi

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install firebase-admin
        run: npm install firebase-admin

      - name: Compare + Notify
        run: node notify.js

      - name: Save updated old_playlists.json
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "GitHub Actions"
          git add old_playlists.json
          git commit -m "Update old playlists" || echo "No changes"
          git push || echo "No push"
